<div class="container mt-4 mb-5">

	<% if @matches.first == nil %>
			<h2 class="text-center mt-5">No Matches Yet, Let's Discover Them!</h2>

			<% else %>
				<div class="row justify-content-center">
					<i class='bx bx-like bx-lg text-center' style="color: #2B4162"></i>
				</div>
				<h4 class="text-center" style="color: #2B4162">Matches</h4>

		<div class="card matched text-white" >
			<% if company_signed_in? %>

				  <% @matches.each do |x| %>
				  	<% post = Post.where(id: x.post_id).first %>
						<% user = User.where(id: x.user_id).first %>
            <% status = Status.where(user_id: x.user_id, post_id: x.post_id).first%>
						<% header = user.name %>
						<% if header == nil %>
							<% header = @user.email %>
						<% end %>
						<div class="match-holder text-center">
							<a href="messages/new/<%= post.id %>/<%= user.id %>">
								<img class="match-content" src=<%= User.where(id: x.user_id).first.display_picture %>>
							</a>
							<!-- Button trigger modal -->
							<div class="text-center mt-2">
								<a class="match-job-content" data-toggle="modal" href="#qwerty<%= user.id %>">
								 	<strong><%= header %></strong>
									<p class="text-center mt-2"><%= post.job_title %></p>
								</a>
							</div>
							<!-- Modal -->
							<div class="modal fade" id="qwerty<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							  <div class="modal-dialog modal-dialog-centered" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title text-dark" id="exampleModalLongTitle"><%= header %> <%= link_to "", status_path(status), method: :delete, data: { confirm: 'Are you sure?' }, :class => "bx bxs-trash" %></h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body text-left text-dark">
							      	<p><strong>Employment Type: </strong><%= user.employment_type %></p>
							      	<p><strong>Industry: </strong><%= user.industry %></p>
							      	<p><strong>Work Experience: </strong><%= user.work_experience %></p>
							      	<p><strong>Education Level: </strong><%= user.education_level %></p>
							      	<p><strong>Expected Salary: </strong><%= user.expected_salary %></p>
							      	<p><strong>Self Description: </strong></p>
							      	<p><%= user.description %></p>
							      </div>
							    </div>
							  </div>
							</div>
						</div>
				  <% end %>

			<% elsif user_signed_in? %>
				  <% @matches.each do |x| %>
						<div class="match-holder text-center">
					  	<% post = Post.where(id: x.post_id).first %>
							<% user = User.where(id: x.user_id).first %>
              <% status = Status.where(user_id: x.user_id, post_id: x.post_id).first%>
							<a href="messages/new/<%= post.id %>/<%= user.id %>">
								<img class="match-content" src=<%= Company.where(id: post.company_id).first.display_picture %>>
							</a>
							<!-- Button trigger modal -->
							<div class="text-center mt-2">
								<a class="match-job-content" data-toggle="modal" href="#qwerty<%= post.id %>">
								  <%= post.job_title %>
								</a>
							</div>
							<!-- Modal -->
							<div class="modal fade" id="qwerty<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							  <div class="modal-dialog modal-dialog-centered" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title text-dark" id="exampleModalLongTitle"><%= post.job_title %> <%= link_to "", status_path(status), method: :delete, data: { confirm: 'Are you sure?' }, :class => "bx bxs-trash" %></h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body text-left text-dark">
							      	<p><strong>Employment Type: </strong><%= post.employment_type %></p>
							      	<p><strong>Industry: </strong><%= post.industry %></p>
							      	<p><strong>Work Experience: </strong><%= post.work_experience %></p>
							      	<p><strong>Education Level: </strong><%= post.education_level %></p>
							      	<p><strong>Expected Salary: </strong><%= post.expected_salary %></p>
							      	<p><strong>Job Description: </strong></p>
							      	<p><%= post.job_description %></p>
							      </div>
							    </div>
							  </div>
							</div>
						</div>
				  <% end %>
			<% end %>
		</div>

		<% if company_signed_in? %>
		  <% @messages.each do |x| %>
		  	<% post = Post.where(id: x.post_id).first %>
				<% user = User.where(id: x.user_id).first %>
				<div class="card match-message">
				  <div class="row no-gutters">
				    <div class="col-md-3 text-center">
				    	<a href="messages/new/<%= post.id %>/<%= user.id %>" class="stretched-link">
								<img class="match-content" src=<%= user.display_picture %>>
							</a>
				    </div>
				    <div class="col-md-8">
				    	<a href="messages/new/<%= post.id %>/<%= user.id %>" class="stretched-link">
				    		<h4 class="mt-3" style="color: #2B4162;"><%= post.job_title %></h4>
				    	</a>
			        <p class="lead"><%= User.where(id: user.id).first.name %></p>
			        <p><%= x.content %></p>
				    </div>
				    <div class="col-md-1">
			        <p><small><%= x.created_at.day %>/<%= x.created_at.month %>/<%= x.created_at.year %></small></p>
				    </div>
				  </div>
				</div>
		  <% end %>

		<% elsif user_signed_in? %>
		  <% @messages.each do |x| %>
		  	<% post = Post.where(id: x.post_id).first %>
				<% user = User.where(id: x.user_id).first %>
				<div class="card match-message">
				  <div class="row no-gutters">
				    <div class="col-md-3 text-center">
			        <a href="messages/new/<%= post.id %>/<%= user.id %>" class="stretched-link">
								<img class="match-content" src=<%= Company.where(id: post.company_id).first.display_picture %>>
			        </a>
				    </div>
				    <div class="col-md-8">
			        <a href="messages/new/<%= post.id %>/<%= user.id %>" class="stretched-link">
			        	<h4 class="mt-3" style="color: #2B4162;"><%= post.job_title %></h4>
			        </a>
			        <p class="lead"><%= Company.where(id: post.company_id).first.name %></p>
			        <p><%= x.content %></p>
				    </div>
				    <div class="col-md-1">
			        <p><small><%= x.created_at.day %>/<%= x.created_at.month %>/<%= x.created_at.year %></small></p>
				    </div>
				  </div>
				</div>
		  <% end %>

		<% end %>

	<% end %>


</div>