<div class="container msg-box">
<!--Message header-->
	<div class="row msg-header">
		<div class="col-2 msg-logo-details">
			<div class="row">
				<div class="col-4 msg-arrow">
					<a href="/messages"><i class='bx bx-arrow-back'></i></a>
				</div>
				<div class="col-8 msg-logo-container">
					<% if company_signed_in? %>
						<img class="msg-logo" src=<%= @user.display_picture %>>

					<% elsif user_signed_in? %>
						<img class="msg-logo" src=<%= Company.where(id: @post.company_id).first.display_picture %>>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-7 msg-recipient-details">
			<ul>
				<% if company_signed_in? %>
						<!-- Button trigger modal -->
						<li><a data-toggle="modal" style="color: #2B4162;" href="#qwerty<%= @user.id %>"><%= @user.name %></a></li>

						<!-- Modal -->
						<div class="modal fade" id="qwerty<%= @user.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title text-dark" id="exampleModalLongTitle"><%= @user.name %></h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body text-dark">
						      	<p><strong>Employment Type: </strong><%= @user.employment_type %></p>
						      	<p><strong>Industry: </strong><%= @user.industry %></p>
						      	<p><strong>Work Experience: </strong><%= @user.work_experience %></p>
						      	<p><strong>Education Level: </strong><%= @user.education_level %></p>
						      	<p><strong>Expected Salary: </strong><%= @user.expected_salary %></p>
						      	<p><strong>Self Description: </strong></p>
						      	<p><%= @user.description %></p>
						      </div>
						    </div>
						  </div>
						</div>
				<% elsif user_signed_in? %>
					<!-- Button trigger modal -->
						<li><a data-toggle="modal" style="color: #2B4162;" href="#qwerty<%= @post.id %>"><%= @post.job_title %></a></li>
							<!-- Modal -->
						<div class="modal fade" id="qwerty<%= @post.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title text-dark" id="exampleModalLongTitle"><%= @post.job_title %></h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body text-dark">
						      	<p><strong>Employment Type: </strong><%= @post.employment_type %></p>
						      	<p><strong>Industry: </strong><%= @post.industry %></p>
						      	<p><strong>Work Experience: </strong><%= @post.work_experience %></p>
						      	<p><strong>Education Level: </strong><%= @post.education_level %></p>
						      	<p><strong>Expected Salary: </strong><%= @post.expected_salary %></p>
						      	<p><strong>Job Description: </strong></p>
						      	<p><%= @post.job_description %></p>
						      </div>
						    </div>
						  </div>
						</div>

				<% end %>

				<% if company_signed_in? %>
					<li><%= @post.job_title %></li>


				<% elsif user_signed_in? %>
					<li><%= Company.where(id: @post.company_id).first.name %></li>

				<% end %>

			</ul>
		</div>
		<div class="col-3 msg-matched-date">
			<ul>
				<% time_m = @status.created_at.localtime(utc_offset = nil) %>
				<li>Matched On</li>
				<li><%= @status.updated_at.day %>/<%= @status.updated_at.month %>/<%= @status.updated_at.year %> (<%= time_m.strftime("%I:%M %p") %>)</li>
			</ul>
		</div>
	</div>
	<!---Message portion--->
	<div class = "msg-main">
			<% if company_signed_in? %>
				<% @messages.each do |x| %>
					<% if x.sender === "post" %>
						<% sender = x.content %>
						<% time_s = x.created_at.localtime(utc_offset = nil) %>
						<div class="row msg-sender content">
							<%= sender %>
							<small style="align-self: flex-end;"><%= x.created_at.day %>/<%= x.created_at.month %>/<%= x.created_at.year %> (<%= time_s.strftime("%I:%M %p") %>)</small>
						</div>

					<% else %>
						<% receiver = x.content %>
						<% time_r = x.created_at.localtime(utc_offset = nil) %>
						<div class="row msg-recipient content">
							<%= receiver %>
							<small><%= x.created_at.day %>/<%= x.created_at.month %>/<%= x.created_at.year %> (<%= time_r.strftime("%I:%M %p") %>)</small>
						</div>
					<% end %>
				<% end %>

			<% elsif user_signed_in? %>
				<% @messages.each do |x| %>
					<% if x.sender === "user" %>
						<% sender = x.content %>
						<% time_s = x.created_at.localtime(utc_offset = nil) %>
						<div class="row msg-sender content">
							<%= sender %>
							<small style="align-self: flex-end;"><%= x.created_at.day %>/<%= x.created_at.month %>/<%= x.created_at.year %> (<%= time_s.strftime("%I:%M %p") %>)</small>

						</div>
					<% else %>
						<% receiver = x.content %>
						<% time_r = x.created_at.localtime(utc_offset = nil) %>
						<div class="row msg-recipient content">
							<%= receiver %>
							<small><%= x.created_at.day %>/<%= x.created_at.month %>/<%= x.created_at.year %> (<%= time_r.strftime("%I:%M %p") %>)</small>
						</div>
					<% end %>
				<% end %>

			<% end %>

		<script language="javascript" type="text/javascript">
		  let lastChatBox = document.querySelectorAll('.content');
		  lastChatBox = lastChatBox[lastChatBox.length-1];
		  lastChatBox.scrollIntoView();
		</script>

 </div>

	<div class="row msg-text-field">
		<%= form_with scope: :message, url: messages_path, local: true do |form| %>
	    <%= form.number_field :user_id, {:class => "form-control d-none", :readonly => "true", :value => @user.id } %>
	    <%= form.number_field :post_id, {:class => "form-control d-none", :readonly => "true", :value => @post.id } %>
			<%= form.text_area :content, {:class => "form-control msg-text-area", :minlength => 1, :rows => 3, :cols => 200, :required => "true", :placeholder => "Write a message..."} %>
			<%= form.submit "Send", class: "btn msg-text-button" %>
		<% end %>

		<script language="javascript" type="text/javascript">
		  let messageBox = document.querySelector('.msg-text-area')
		  setInterval(() => {
		    if (messageBox.value === "") {
		      setTimeout("location.reload();", 100);
		    }
		  }, 4000)
		</script>


	</div>
</div>