<div class="container">

	<h1 class="text-center mt-4">Edit Your Job Seeker Profile</h1>

	<%= form_with scope: :user, model: @user, local: true do |form| %>
		<div class="form-group mt-5 mb-5" style="width: 50%; margin: 0 auto">

		  <p>
		    <%= form.label :name %>
		    <%= form.text_field :name, {:class => "form-control", :minlength => 3, :maxlength => 50, :required => "true"} %>
		    <small class="form-text text-muted">3 to 50 characters</small>
		  </p>

		  <p>
		    <%= form.label :display_picture %><br>
				<div id="accordion">
				  <div class="card">
				    <div class="btn btn-submit-outline" id="headingOne">
				      <p class="mb-0">
				        <a class="nav-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          Image URL:
				        </a>
				      </p>
				    </div>
				    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="card-body">
								<%= form.url_field :display_picture, {:class => "form-control"} %>
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="btn btn-submit-outline" id="headingTwo">
				      <p class="mb-0">
				        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          File Upload:
				        </a>
				      </p>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				      <div class="card-body">
								<%= form.file_field :display_picture, {:class => "form-control"} %>
				      </div>
				    </div>
				  </div>
				</div>
		  </p>

		  <p>
		  	<%= form.label :employment_type %> (you are looking for)<br>
				<%= form.select :employment_type, Post::EMPLOYMENT_TYPES, {:include_blank => 'Choose an employment type', :disabled => 1}, {:class => "form-control", :required => "true"} %>
		  </p>

		  <p>
		  	<%= form.label :industry %> (of your next job)<br>
				<%= form.select :industry, Post::INDUSTRIES, {:include_blank => 'Choose an industry', :disabled => 1}, {:class => "form-control", :required => "true"} %>
		  </p>

		  <p>
		  	<%= form.label :work_experience %> <br>
				<%= form.select :work_experience, Post::WORK_EXPERIENCES, {:include_blank => 'Choose your work experience', :disabled => 1}, {:class => "form-control", :required => "true"} %>
		  </p>

		  <p>
		  	<%= form.label :education_level %><br>
				<%= form.select :education_level, Post::EDUCATION_LEVELS, {:include_blank => 'Choose your education level', :disabled => 1}, {:class => "form-control", :required => "true"} %>
		  </p>

		  <p>
		  	<%= form.label :expected_salary %> (monthly)<br>
				<%= form.select :expected_salary, Post::EXPECTED_SALARIES, {:include_blank => 'Choose an expected salary', :disabled => 1}, {:class => "form-control", :required => "true"} %>
		  </p>

		  <p>
		    <%= form.label :self_description %><br>
		    <%= form.text_area :description, {:class => "form-control", rows: 8, "data-provide" => "markdown", :minlength => 3, :maxlength => 300, :required => "true"} %>
		    <small class="form-text text-muted">3 to 300 characters</small>
		  </p>


		  <%= link_to 'Back', user_path, {:class => "btn btn-outline-secondary"} %>
		  <%= form.submit "Save", class: "btn btn-submit" %>

		</div>
	<% end %>

</div>