<div class="container">

	<% header = @company.name %>

	<% if header === nil %>
		<% header = @company.email %>
	<% end %>

	<div class="container tinder bg-secondary mt-5 mb-5" style="width: 80%">
		<div class="row" style="width: 80%; margin: 0 auto">
			<div class="mt-5 tinder-content" style="width: 30%; margin: 0 auto;">
		  	<img src="https://www.pngfind.com/pngs/m/665-6659827_enterprise-comments-default-company-logo-png-transparent-png.png" class="card-img-top">
		  </div>
		  <div class="mt-5 tinder-content" style="width: 60%; margin: 0 auto;">
		    <h2 class="text-center"><%= @post.job_title %></h2>
		    <h4 class="text-center"><%= header %></h4>
		    <div class="d-flex justify-content-around mt-4">
					<button type="button" class="btn btn-success"><%= @post.employment_type %></button>
					<button type="button" class="btn btn-success"><%= @post.industry %></button>
		    </div>
		    <div class="d-flex justify-content-around mt-4">
		    	<button type="button" class="btn btn-success"><%= @post.work_experience %></button>
					<button type="button" class="btn btn-success"><%= @post.education_level %></button>
					<button type="button" class="btn btn-success"><%= @post.expected_salary %></button>
		    </div>
		  </div>
		</div>

		<p class="text-center mt-5" style="width: 90%; margin: 0 auto;" >

			<%= @post.job_description %>

		</p>

		<div class="row mt-4 pb-5">


			<form class="col">
			  <div class="form-group">
			    <input type="number" class="form-control" placeholder=<%= @user.id %>>
			  </div>
			  <div class="form-group">
			    <input type="number" class="form-control" placeholder=<%= @post.id %>>
			  </div>
			  <div class="row justify-content-center">
			  	<button type="submit" class="tinder-btn btn-danger"><i class='bx bx-x bx-lg align-text-bottom'></i></button>
			  </div>
			</form>



			<form class="col">
			  <div class="form-group">
			    <input type="number" class="form-control" placeholder=<%= @user.id %>>
			  </div>
			  <div class="form-group">
			    <input type="number" class="form-control" placeholder=<%= @post.id %>>
			  </div>
			  <div class="row justify-content-center">
			  	<button type="submit" class="tinder-btn btn-success"><i class='bx bx-check bx-lg align-text-bottom' ></i></i></button>
			  </div>
			</form>

		</div>
	</div>



</div>