<div class="container">

	<% if @post === nil %>

		<p class="display-4 text-center mt-5">No More Matches</p>

	<% else %>

		<% header = @company.name %>

		<% if header === nil %>
			<% header = @company.email %>
		<% end %>


		<% company = Company.where(id: @post.company_id).first %>

		<div class="container tinder mt-5 mb-5" style="width: 80%">
				<div class="row" style="width: 80%; margin: 0 auto">
					<div class="mt-5 tinder-content" style="width: 30%; margin: 0 auto;">
				  	<img class="img-thumbnail" src="<%= company.display_picture %>" class="card-img-top">
				  </div>
				  <div class="mt-5 tinder-content" style="width: 60%; margin: 0 auto;">
				    <h2 class="text-center"><%= @post.job_title %></h2>
				    <h4 class="text-center"><%= header %></h4>
			    	<div class="row match-top-buttons">
			    		<div class="col-4">
			    			<button class="btn tinder-params"><%= @post.employment_type %></button>
			    		</div>
			    		<div class="col-4">
			    			<button class="btn tinder-params"><%= @post.industry %></button>
			    		</div>
			    		<div class="col-4">
			    			<button class="btn tinder-params"><%= @post.work_experience %></button>
			    		</div>
			    	</div>
			    	<div class="row match-bottom-buttons">
			    		<div class="col-4">
			    				<button class="btn tinder-params"><%= @post.education_level %></button>
			    		</div>
			    		<div class="col-4"><button class="btn tinder-params"><%= @post.expected_salary %></button>
			    		</div>
			    		<div class="col-4"></div>
			    	</div>
				  </div>
				</div>

				<p class="text-center mt-5" style="width: 90%; margin: 0 auto;" >

					<%= @post.job_description %>

				</p>

				<div class="row mt-4 pb-5 d-flex justify-content-between text-center">

					<%= form_with scope: :status, url: statuses_path, class: "col", local: true do |form| %>
							<div class="form-group mt-5 mb-5" style="width: 50%; margin: 0 auto">

							  <p>
							    <%= form.number_field :user_id, {:class => "form-control d-none", :readonly => "true", :value => @user.id } %>
							  </p>

							  <p>
							    <%= form.number_field :post_id, {:class => "form-control d-none", :readonly => "true", :value => @post.id } %>
							  </p>

							  <p>
							    <%= form.text_field :user_approval, {:class => "form-control d-none", :readonly => "true", :value => "deny" } %>
							  </p>

								<%= button_tag type: 'submit', class: "btn tinder-btn tinder-cross" do %>
						        <i class='bx bx-x align-text-bottom'></i>
						    <% end %>


						</div>
					<% end %>

					<%= form_with scope: :status, url: statuses_path, class: "col", local: true do |form| %>
							<div class="form-group mt-5 mb-5" style="width: 50%; margin: 0 auto">

							  <p>
							    <%= form.number_field :user_id, {:class => "form-control d-none", :readonly => "true", :value => @user.id } %>
							  </p>

							  <p>
							    <%= form.number_field :post_id, {:class => "form-control d-none", :readonly => "true", :value => @post.id } %>
							  </p>

							  <p>
							    <%= form.text_field :user_approval, {:class => "form-control d-none", :readonly => "true", :value => "accept" } %>
							  </p>

								<%= button_tag type: 'submit', class: "btn tinder-btn tinder-tick" do %>
						        <i class='bx bx-check align-text-bottom'></i>
						    <% end %>


						</div>
					<% end %>

		</div>


	<% end %>







</div>