<div class="container">

	<h1 class="mt-4 text-center">Edit Your Company Profile</h1>

	<%= form_with scope: :company, model: @company, local: true do |form| %>
		<div class="form-group mt-5" style="width: 50%; margin: 0 auto">

		  <p>
		    <%= form.label :name %>
		    <%= form.text_field :name, {:class => "form-control", :minlength => 3, :maxlength => 50, :required => "true"} %>
		    <small class="form-text text-muted">3 to 50 characters</small>
		  </p>

		  <p>
		    <%= form.label :display_picture %><br>
				<div id="accordion">
				  <div class="card">
				    <div class="btn btn-submit-outline" id="headingOne">
				      <p class="mb-0">
				        <a class="nav-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          Image URL:
				        </a>
				      </p>
				    </div>
				    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="card-body">
								<%= form.url_field :display_picture, {:class => "form-control"} %>
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="btn btn-submit-outline" id="headingTwo">
				      <p class="mb-0">
				        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          File Upload:
				        </a>
				      </p>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				      <div class="card-body">
								<%= form.file_field :display_picture, {:class => "form-control"} %>
				      </div>
				    </div>
				  </div>
				</div>
		  </p>

		  <%= link_to 'Back',company_path, {:class => "btn btn-outline-secondary"} %>
		  <%= form.submit "Save", class: "btn btn-submit" %>

		</div>
	<% end %>

</div>