<div class="container">

	<% header = @company.name %>

	<% if header === nil %>
		<% header = @company.email%>
	<% end %>

	<div class="row justify-content-center mt-5">
		<div class="card display-pic" style="width: 30%;">
		  <img class="card-img-top img-thumbnail mt-4" style="width: 50%; margin: 0 auto;" alt="company logo" src=<%= @company.display_picture %>>
		  <div class="card-body">
		    <h2 class="text-center"><%= header %></h2>
		  </div>
		</div>
	</div>




	<div class="text-center mt-3 mb-5">
		<%= link_to 'Edit', edit_company_path(@company), {:class => "btn btn-submit"} %>
	</div>



	<% if @post.first == nil %>
		<p class="text-center">You have no job postings yet, let's create one</p>
	<% else %>
		<table class="table">
		  <thead class="table-head-light">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Job Title</th>
		      <th class="byebye" scope="col">Job Description</th>
		      <th class="byebye" scope="col">Date Posted</th>
		      <th></th>
		      <th></th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
				<% @post.order({ created_at: "asc" }).each do |x| %>
			    <tr>
			      <th scope="row"><%= x.id %></td>
			      <td><%= link_to x.job_title, post_path(x) %></td>
			      <td class="byebye"><%= x.job_description %></td>
			      <td class="byebye"><%= x.created_at.day %>/<%= x.created_at.month %>/<%= x.created_at.year %></td>
			      <td><%= link_to 'Discover', posts_path(x), {:class => "btn table-btn btn-sm btn-submit"} %></td>
			      <td><%= link_to 'Edit', edit_post_path(x), {:class => "btn table-btn btn-sm btn-warning"} %></td>
			      <td><%= link_to 'Delete', post_path(x), :class => "btn table-btn btn-sm btn-secondary",
		        method: :delete,
		        data: { confirm: 'Are you sure?' } %></td>
			    </tr>
				<% end %>
		  </tbody>
		</table>
	<% end %>

	<div class="text-center mt-5 mb-5">
		<%= link_to 'Create Job Posting', new_post_path, {:class => "btn btn-submit"} %>
	</div>





</div>