<div class="container">

	<% if @user === nil %>

		<p class="display-4 text-center mt-5">No More Matches</p>

	<% else %>

		<% header = @user.name %>

		<% if header === nil %>
			<% header = @user.email %>
		<% end %>


		<div class="container tinder mt-5 mb-5" style="width: 80%">
			<div class="row" style="width: 80%; margin: 0 auto">
				<div class="mt-5 tinder-content" style="width: 30%; margin: 0 auto;">
			  	<img src="http://www.baytekent.com/wp-content/uploads/2016/12/facebook-default-no-profile-pic1.jpg" class="card-img-top">
			  </div>
			  <div class="mt-5 tinder-content" style="width: 60%; margin: 0 auto;">
			    <h2 class="text-center"><%= header %></h2>
			    <div class="d-flex justify-content-around mt-4">
						<button type="button" class="btn tinder-params btn-success"><%= @user.employment_type %></button>
						<button type="button" class="btn tinder-params btn-success"><%= @user.industry %></button>
			    </div>
			    <div class="d-flex justify-content-around mt-4">
			    	<button type="button" class="btn tinder-params btn-success"><%= @user.work_experience %></button>
						<button type="button" class="btn tinder-params btn-success"><%= @user.education_level %></button>
						<button type="button" class="btn tinder-params btn-success"><%= @user.expected_salary %></button>
			    </div>
			  </div>
			</div>

			<p class="text-center mt-5" style="width: 90%; margin: 0 auto;" >
					<%= @user.description %>
			</p>

			<div class="row mt-4 pb-5">

				<%= form_with scope: :status, url: statuses_path, class: "col", local: true do |form| %>
						<div class="form-group mt-5 mb-5" style="width: 50%; margin: 0 auto">

						  <p>
						    <%= form.number_field :user_id, {:class => "form-control", :readonly => "true", :value => @user.id } %>
						  </p>

						  <p>
						    <%= form.number_field :post_id, {:class => "form-control", :readonly => "true", :value => @post.id } %>
						  </p>

						  <p>
						    <%= form.text_field :post_approval, {:class => "form-control", :readonly => "true", :value => "deny" } %>
						  </p>

							<%= button_tag type: 'submit', class: "tinder-btn btn-danger" do %>
					        <i class='bx bx-x bx-lg align-text-bottom'></i>
					    <% end %>


					</div>
				<% end %>

				<%= form_with scope: :status, url: statuses_path, class: "col", local: true do |form| %>
						<div class="form-group mt-5 mb-5" style="width: 50%; margin: 0 auto">

						  <p>
						    <%= form.number_field :user_id, {:class => "form-control", :readonly => "true", :value => @user.id } %>
						  </p>

						  <p>
						    <%= form.number_field :post_id, {:class => "form-control", :readonly => "true", :value => @post.id } %>
						  </p>

						  <p>
						    <%= form.text_field :post_approval, {:class => "form-control", :readonly => "true", :value => "approved" } %>
						  </p>

							<%= button_tag type: 'submit', class: "tinder-btn btn-success" do %>
					        <i class='bx bx-check bx-lg align-text-bottom'></i>
					    <% end %>


					</div>
				<% end %>

			</div>
		</div>


	<% end %>


</div>